html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #e0e0e0;

    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header {
    top: 0;
    position: sticky;
    z-index: 1000;

    height: var(--header-height);

    background-color: #fff;
    box-shadow: 0 -8px 16px 8px rgb(0 0 0 / .2);
}
nav {
    padding: 0 var(--gap);
    height: 100%;
}

nav ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--gap);
}

nav ul, nav ul li {
    margin: 0;
}

main {
    flex-grow: 1;

    display: flex;
    gap: var(--gap);
}

footer {
    height: 4em;
    background-color: #ccc;
}

body, header, main, footer {
    width: 100%;
}

.content {
    flex: 1;
    padding: var(--gap);
    
    background-color: #eee;
    border-radius: var(--corner);
    box-shadow: 0 0 20px rgb(0 0 0 / .1);
}

.sidebar-container {
    width: var(--sidebar-width);
}

.content, .sidebar-container {    
    margin: var(--gap) 0;
}

/* begin content at same height. equal padding is provided by container. */
:is(.sidebar-container, .content) > :first-child {
    margin-top: 0;
}