/* individual design styles, not necessary */
.sidebar {
    background-color: #e5e5e5;
    padding: var(--gap);
    border-radius: var(--corner);
}

/* positioning */
.sidebar {
    position: relative;
    top: var(--push-down);
}