/* individual design styles, not necessary */
.sidebar {
    background-color: #e5e5e5;
    padding: var(--gap);
    border-radius: var(--corner);
}

/* positioning */
.sidebar {
    transform: translate(0, var(--push-down));
    transform: translate3d(0, var(--push-down), 0);
    will-change: transform;
}